<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="container mt-3">
        <div class="row">
            <h3 class="col-5">Hello {{thisuser.first_name}}! Let's edit this job!</h3>
            <div class="col-5"></div>
            <form action='/destroy' class="col-2">
                <button type="submit" class="btn btn-secondary">Log Out</button>
            </form>
        </div>
        <hr>
        <div class="row">
                <form class="col-6 border border-dark" action='/processjobedit' method='POST'>
                    {% csrf_token %}
                    <input type="hidden" value="{{thisjob.id}}" name="jobid">
                    <div class="form-group row mt-2">
                        <label class="col-sm-2 col-form-label">Job Title:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="{{thisjob.title}}" name="title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Location:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="{{thisjob.location}}" name="location">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" name="description">{{thisjob.description}}</textarea>
                        </div>
                    </div>
                    <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary mb-2 mr-5 mt-1">Submit</button>
                    <a href='/dashboard' class="btn btn-danger">Cancel</a>
                </div>
                </form>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
    </div>
</body>
</html>
